
.nome1{

    border-radius: 15px;
    background-image: url('image/bg9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 20px; 
 
    margin: 25px 0px 50px 0px;
   
}

.nome2{

    border-radius: 15px;
    background-image: url('image/bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  padding: 20px; 
 
    margin: 25px 0px 50px 0px;
    
}



.nome3{
    border-radius: 15px;
    background-image: url('image/bg6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 20px; 
 
    margin: 25px 0px 50px 0px;
  
}



.nome4{

    border-radius: 15px;
    background-image: url('image/bg7.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 20px; 
 
    margin: 25px 0px 50px 0px;
  
}

/*.nome2.animated, .nome3.animated, .nome4.animated{
    opacity: 1;
}*/

#corpo1{
    background-color: #eaeef2;

}

.sus{
    padding-top:  20px;
    padding-bottom:  20px;
    background-size:  100%;
    background-color: #ee99a0;
    width:  100%;
    
}

#fondo{
    background-color: #eaeef2;
}

#coc:hover{
  transform: scale(1.2);
}

#coc2:hover{
    transform: scale(1.2);
  }
  